version: '3.9'

services:
  postgres:
    image: postgres:16
    restart: unless-stopped
    environment:
      POSTGRES_USER: pricelens
      POSTGRES_PASSWORD: pricelens
      POSTGRES_DB: pricelens_db
    ports:
      - '5432:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4:8
    restart: unless-stopped
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@pricelens.dev
      PGADMIN_DEFAULT_PASSWORD: admin123
    ports:
      - '5050:80'
    depends_on:
      - postgres

  server:
    build:
      context: .
      dockerfile: Dockerfile
    command: npm run start:dev
    environment:
      DATABASE_URL: postgres://pricelens:pricelens@postgres:5432/pricelens_db
      NODE_ENV: development
    volumes:
      - ./:/usr/src/app
    ports:
      - '3000:3000'
    depends_on:
      - postgres

volumes:
  postgres_data:






